# Exemplo de configuração de Secrets para o Streamlit Cloud / Servidor
# No Streamlit Community Cloud, cole este conteúdo em: Settings -> Secrets

# Credenciais Braspress (API REST Oficial)
USUARIO_BRASPRESS = "26434839000121_PRD"
SENHA_BRASPRESS = "PM1GKtT3fUzzff5k"

# Credenciais Agex (SSW SOAP)
DOMINIO_AGEX = "AGE"
USUARIO_AGEX = "next"
SENHA_AGEX = "Nxtind@2"

# Credenciais Coopex (SSW SOAP Oficial)
DOMINIO_COPEX = "CLD"
USUARIO_COPEX = "26434839"
SENHA_COPEX = "26434839"

# Credenciais LOGBG (SSW SOAP)
DOMINIO_LOGBG = "LLI"
USUARIO_LOGBG = "NEXT"
SENHA_LOGBG = "123456"
MERCADORIA_LOGBG = 110
